
  <h1>진공봉안(납골)함</h1>
 

   
    
	

        

<!-- // 게시판 시작 // -->
<div class="board">

<!-- 본문에서는 헤더영역 출력 안함 -->

	<!-- // 상단 내용 // -->
	<div class="header_text"><p style="padding-top:10px;"></p></div>
    <div class="boardHeader">
		<!-- // 게시판 제목, 부제목 // -->
				<!-- // 게시판 상세 설명 // -->
		    </div>

	<!-- 탭 스타일 카테고리 출력 -->
		
    <div class="boardInformation">

		<!-- 셀렉트 스타일 카테고리 출력 -->
		
		<!-- 게시물 수 출력 -->
		
		<!-- // 게시판 스타일 선택 아이콘 // -->
		<div class="infoView">
			
		</div>

    </div><!-- boardInformation End -->

<form action="./" method="get" class="boardListForm">
    <fieldset>
        <legend>List of Articles</legend>

																								        
		<div class="gallery">
			<ul class="thumbList">
				<li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/397">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/397" style="font-weight:bold">지상낙원 (흑)</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/394">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/394" style="font-weight:bold">지상낙원 (홍)</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/391">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/391" style="font-weight:bold">지상낙원 (청)</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/388">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/388" style="font-weight:bold">영혼의 집(학)</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/385">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/385" style="font-weight:bold">영혼의 집(난)</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/381">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/381" style="font-weight:bold">고양산천(학)</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/378">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/378" style="font-weight:bold">고양산천(난)</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/375">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/375" style="font-weight:bold">관음성지</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/372">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/372" style="font-weight:bold">실크로드</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/369">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/369" style="font-weight:bold">하늘궁전</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/366">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/366" style="font-weight:bold">천지창조</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/362">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/362" style="font-weight:bold">조은자리</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/359">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/359" style="font-weight:bold">지상낙원(백)</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/355">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/355" style="font-weight:bold">지상낙원</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li><li style="width:220px; height:282px; margin-bottom:10px">
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
						<div class="thumb">							
							<a href="http://hanuljari.com/ham/351">
																
																<!-- 분류 출력-->
															</a>							
						</div>						
						<!-- 제목 출력 -->
						
						<!-- 내용 출력 -->
						
						
						
									</div>
								<div class="gallery_content" style="width:220px;">
					
											<!-- 썸네일 출력 -->
												
						<!-- 제목 출력 -->
						<div class="title">
							
							<a href="http://hanuljari.com/ham/351" style="font-weight:bold">황금사원</a>
							
							<!-- // 코멘트 있을 때 // -->
														<!-- // 트랙백 있을 때 // -->
													</div>
						<!-- 내용 출력 -->
						
						
						
									</div>
								</li>			</ul>		
        </div>    </fieldset>
</form>

<div class="pagination">
	<a href="http://hanuljari.com/ham" title="첫 페이지" class="prevEnd"><span>첫 페이지</span></a>
		 		<strong class="page_on">1</strong> 
				<a href="http://hanuljari.com/index.php?mid=ham&amp;page=11&amp;listStyle=gallery" title="다음 10페이지" class="page_skip"><span>&gt;</span></a>
	<a href="http://hanuljari.com/index.php?mid=ham&amp;page=1" title="끝 페이지" class="nextEnd"><span>끝 페이지</span></a>
</div>
<div class="boardNavigation">
    <div class="buttonLeft">
        <a href="http://hanuljari.com/index.php?mid=ham&amp;page=1" class="buttonOfficial"><span>목록</span></a>		    </div>
    <div class="buttonRight">
        <a href="http://hanuljari.com/index.php?mid=ham&amp;act=dispBoardWrite" class="buttonOfficial"><span>쓰기</span></a>
            </div>
</div>

	<!-- // 하단 내용 // -->
	<div class="footer_text">
		
	</div>
</div><!-- board End -->
<!-- // 게시판 끝 // -->  