
  <h1>진공봉안(납골)함 특성</h1>
 

   <div style="overflow:hidden;margin: 10px 0px 0px; border: 0px solid rgb(255, 255, 255); width: 100%; float: left; background-image: none; background-repeat: repeat repeat; background-color: transparent;"><div style="padding:0px 0px 0px 0px !important; padding:none !important;"></div></div><div style="overflow:hidden;width: 100%; float: left;"><div style="*zoom:1;padding:0px 0px 0px 0px !important; padding:none !important;">

 

<div id="bxSwrapper_bxSlider_2054696552">
<ul id="bxSlider_2054696552">
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="394" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/394">지상낙원 (홍)</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="362" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/362">조은자리</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="366" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/366">천지창조</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="378" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/378">고양산천(난)</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="381" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/381">고양산천(학)</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="355" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/355">지상낙원</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="372" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/372">실크로드</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="375" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/375">관음성지</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="369" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/369">하늘궁전</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="359" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/359">지상낙원(백)</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="397" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/397">지상낙원 (흑)</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="388" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/388">영혼의 집(학)</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="385" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/385">영혼의 집(난)</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="351" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/351">황금사원</a></strong></p>
	</li>
	<li>
		<span class="bxImage_bxSlider_2054696552">
								<a href="391" class="open_doc">
						</a></span>
		<p class="bxTitle_bxSlider_2054696552 textT1_bxSlider_2054696552"><strong><a href="http://hanuljari.com/391">지상낙원 (청)</a></strong></p>
	</li>
</ul>
</div>
</div></div><div style="overflow:hidden;width: 100%; float: left;"><div style="padding:0px 0px 0px 0px !important; padding:none !important;"><div style="text-align: center;"></div><div style="text-align: center;"></div></div></div><div style="overflow:hidden;margin: 0px 0px 0px 15px; border: 0px solid rgb(255, 255, 255); width: 95%; float: left; background-image: none; background-repeat: repeat repeat; background-color: transparent;"><div style="padding:0px 0px 0px 0px !important; padding:none !important;"><div style="text-align: center;"><p style="text-align: left; line-height: 1.8;"><strong>1. 고인의 유골함을 함에 잘 모신 후 실리콘 패킹을 봉안함 테두리에 씌운다. 
</strong></p>
<p style="text-align: left; line-height: 1.8;"><strong>2. PC GLASS로 된 뚜껑을 똑바로 덮는다. </strong></p>
<p style="text-align: left; line-height: 1.8;"><strong>3. 압축기를 PC GLASS에 뚫린 구멍에 밀착시키고 반복하여 압축한다. 
</strong></p>
<p style="text-align: left; line-height: 1.8;"><strong>    (수동이며, 약 40~50회 많이 반복할 수록 
좋다)</strong></p>
<p style="text-align: left; line-height: 1.8;"><strong>4. 준비된 스티커를 PC GLASS 구멍에 붙인다. </strong></p>
<p style="text-align: left; line-height: 1.8;"><strong>5. 뚜껑을 덮어 고인을 모신다.</strong></p>
</div></div></div><div style="overflow:hidden;margin: 10px 0px 0px; border: 0px solid rgb(255, 255, 255); width: 100%; float: left; background-image: none; background-repeat: repeat repeat; background-color: transparent;"><div style="padding:0px 0px 0px 0px !important; padding:none !important;">
</div></div>  