
  <h1>납골묘조성</h1>
 

   <div style="overflow:hidden;width: 100%; float: left;"><div style="padding:0px 0px 0px 0px !important; padding:none !important;"><p>

</p></div></div><div style="overflow:hidden;margin: 0px; border: 0px solid rgb(255, 255, 255); width: 99%; float: right; background-image: none; background-repeat: repeat repeat; background-color: transparent;"><div style="padding:0px 0px 0px 0px !important; padding:none !important;"><table border="0" cellspacing="0" cellpadding="0" width="695">
                                <tbody><tr>
                                  
                                </tr>
                                <tr class="table_1" bgcolor="#E5E1DE">
                                  <td height="30" width="120" align="center"><strong>구분</strong></td>
                                  <td width="1" align="center" valign="bottom"></td>
                                  <td align="center"><b>납골묘 설치기준</b></td>
                                </tr>

                                <tr></tr>
                                <tr class="table_1">
                                  <td style="padding-left:10px;" height="140">
									<strong>공통사항</strong></td>
                                  <td width="1" align="center" valign="bottom"></td>
                                  <td style="padding-left: 15px;">1. 납골묘지의 높이는 
									70센티미터, 납골묘지의 1기당 면적은 2제곱미터 이하로 함
									2. 납골묘지 1기당 설치할 수 있는 시설물(납골묘지지외의 구역에 설치할 수 없음)
									&nbsp;&nbsp; - 비석 1개(높이는 지면으로부터 2미터 이하, 그 표면적은 3제곱 미터 이하)
									&nbsp;&nbsp; - 상석 1개
									&nbsp;&nbsp; - 그 밖의 석물(인물상 제외)은 1개 또는 1쌍(높이는 지면으로부터 2미터 이하)
									3. 사원ㆍ묘지ㆍ화장시설이나 그 밖에 지자체의 조례로 정하는 장소에 설치하여야 
									함
									4. 지형ㆍ배수ㆍ토양 등을 고려하여 붕괴ㆍ침수의 우려가 없는 곳에 설치하여야 함
									5. 유골을 위생적으로 안치할 수 있는 설비를 갖추되, 개폐가 가능하여야 함</td>
                                </tr>
                                <tr>
                                  
                                </tr>
                                
                                <tr class="table_1">
                                  <td style="padding-left:10px;"><strong>개인ㆍ가족</strong></td>
                                  <td width="1" align="center" valign="bottom"></td>
                                  <td style="padding-left: 15px;" height="40">1. 
									1개소로 제한하며, 개인납골묘지의 경우 10㎡이하, 가족납골묘지의 경우 
									30㎡이하여야 함
									2. 석축과 인입도로의 계단등은 붕괴의 우려가 없어야 하며, 상기의 면적 안에서 
									설치가능</td>
                                </tr>
                                <tr>
                                  
                                </tr>

                                <tr class="table_1">
                                  <td style="padding-left:10px;"><strong>종중ㆍ문중</strong></td>
                                  <td width="1" align="center" valign="bottom"></td>
                                  <td style="padding-left: 15px;" height="60">
									1. 1개소로 제한하며, 그 면적은 100㎡ 이하여야 함
									2. 석축과 인입도로의 계단등은 붕괴의 우려가 없어야 하며, 상기의 면적 안에서 
									설치가능
									3. 납골묘지지 면적중 납골묘지가 설치되지 아니한 지역은 잔디ㆍ화초ㆍ수목 등으로 
									녹화</td>
                                </tr>
                                <tr>
                                  
                                </tr>
                                
                            </tbody></table></div></div><div style="overflow:hidden;margin: 0px; border: 0px solid rgb(255, 255, 255); width: 100%; height: 25px; float: left; background-image: none; background-repeat: repeat repeat; background-color: transparent;;"><div style="padding:0px 0px 0px 0px !important; padding:none !important;"></div></div><div style="overflow:hidden;width: 100%; float: left;"><div style="padding:0px 0px 0px 0px !important; padding:none !important;"><p>

</p></div></div><div style="overflow:hidden;margin: 20px 0px 0px; border: 0px solid rgb(255, 255, 255); width: 100%; float: left; background-image: none; background-repeat: repeat repeat; background-color: transparent;"><div style="padding:0px 0px 0px 0px !important; padding:none !important;">
</div></div>  